{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
    
    #btn{
        background-color:green;
        padding:10px;
        font-weight:bold;
        color:white;
        border-radius:5px;
        text-decoration:none;
    }
    #btn:hover{
        background-color:black;
        color:white;
    }
</style>

<section>
    <h1>Virtual Ward</h1>
            <div class="date">
                <form class="form" method="GET" action="">
                     <input type="date">
                </form>
            </div><hr>
            <h4>{{Patient.first_name}} {{Patient.last_name}}</h4><hr> 
            <div class="insights">
                <div class="sales">

                    <span class="material-symbols-sharp"></span>
                    

                      <div class="middle">
                          <div class="left">
                              <h3>Heart Rate</h3>
                              <h1>BPM</h1>
                          </div>
                          <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r="36"></circle>
                            </svg>
                            <div class="number">
                                <h1><strong>{{Patient.heart_rate}}</strong></h1>
                            </div>
                          </div>
                      </div>
                      <small class="text-muted">Last 24 Hours</small>
                </div>
                <!-------------------------- END OF TOP BARS---------------------------------->
                <div class="expenses">
                    <span class="material-symbols-sharp">bar_chart</span>
                      <div class="middle">
                          <div class="left">
                              <h3>Oxygen Saturation </h3>
                              <h1>SpO2</h1>
                          </div>
                          <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r="36"></circle>
                            </svg>
                            <div class="number">
                                <h1><strong>{{Patient.pulse_oxymetry}}</strong></h1>
                            </div>

                            
                            
                          </div>
                      </div>
                      <small class="text-muted">Last 24 Hours</small>
                </div>
                <!-------------------------- END OF EXPENSES ---------------------------------->
                <div class="income">
                    <span class="material-symbols-sharp">device_thermostat</span>
                      <div class="middle">
                          <div class="left">
                              <h3>Temperature</h3>
                             <!----- <span>&#8451;</span>-->
                              <h1>celcius</h1>
                          </div>
                          <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r="36"></circle>
                            </svg>
                            <div class="number">
                                <h1><strong>{{Patient.temperature}}</strong></h1>
                            </div>
                          </div>
                      </div>
                      <small class="text-muted">Last 24 Hours</small>
                </div>
                <!-------------------------- END OF income ---------------------------------->
            </div>
</section>
<br>
<!-------------------------- detail ---------------------------------->
<div>
                 <table class="table">
                     <tr>
                        <th>ID</th>
                        <td>{{Patient.id_number}}</td>
                     </tr>
                     <tr>
                        <th>Date of birth</th>
                        <td>{{Patient.date_of_birth}}</td>
                     </tr>
                     <tr>
                        <th>Ward</th>
                        <td>{{Patient.ward.name}}</td>
                     </tr>
                     <tr>
                        <th>Doctor</th>
                        <td>{{Patient.doctor.name}}</td>
                     </tr>
                    
                 </table>
             </div>

{% endblock content %}